<nav class="bg-gray-800 w-full p-2">
  <div
    class="flex lg:items-center lg:flex-row md: flex-col sm:flex-col justify-between"
  >
    <ul
      class="flex lg:flex-row lg:items-center sm:flex-col sm:items-start md:flex flex-col md:items-start md:justify-items-start md:text-md sm:text-violet-950 text-[16px]"
    >
      <li style="text-decoration: none">
        <button
          routerLink="/master"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Master
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/employee'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Employee
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/client'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Client
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/client-project'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Client Project
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/rxjs-learning'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Rxjs Learning
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/counter'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          NgRx
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/posts'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Posts
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/material'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Angular Material
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/car-rental'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Car Rental
        </button>
      </li>
      <li>
        <button
          [routerLink]="'/tailwind'"
          routerLinkActive="bg-gray-700"
          class="text-white hover:bg-gray-700 px-3 py-2 rounded-md transition-colors"
        >
          Tailwind
        </button>
      </li>
    </ul>
    <button
      (click)="onLogOut()"
      class="btn btn-primary bg-red-500 text-white rounded px-3 py-2"
    >
      LogOut
    </button>
  </div>
</nav>

<div class="container mx-auto p-4">
  <router-outlet />
</div>
