mat-card {
  margin: 2%;
  text-align: left;
  box-shadow: none;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50 {
  width: 48%;
  margin: 1%;
}

.mat-31 {
  width: 31.32%;
  margin: 1%;
}

button {
  margin: 2px;
}

.card-actions {
  margin: 2%;
}
