<div [ngSwitch]="switch">
  <p *ngSwitchCase="'Fan'">You turned on Fan</p>
  <p *ngSwitchCase="'Light'">You turned on Light</p>
  <p *ngSwitchDefault>You turned off all</p>
</div>
<div class="row">
  <div class="col-md-8 mt-5">
    <h3
      appRendererHighlight
      [defaultColor]="'purple'"
      [ngStyle]="{
        color: 'white',
        textAlign: 'center'
      }"
    >
      {{ "Posts List " | uppercase }}
    </h3>
    <a href="#" class="btn btn-primary mb-2" [routerLink]="['/posts/add']">
      Add Post
    </a>
    <table
      class="table table-striped table-bordered"
      *ngIf="posts$ | async as posts"
    >
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of posts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.title | reverse }}</td>
          <td>{{ item.body }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              style="margin-right: 8px; margin-bottom: 8px"
              (click)="editPost(item)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deletePost(item.id!)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
